:root {
  --jet: #353535;
  --ming: #3C6E71;
  --white: #FFFFFF;
  --gainsboro: #D9D9D9;
  --indigo-dye: #284B63;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.fw-900 {
  font-weight: 900;
}