@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --jet: #353535;
  --ming: #3C6E71;
  --white: #FFFFFF;
  --gainsboro: rgb(217, 217, 217);
  --indigo-dye: #284B63;
}

body {
  height: 100%;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.fw-900 {
  font-weight: 900;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}